.sider :global(.ant-menu-item-selected) {
    background-color: var(--color-primary);
    color: white !important;
    
    a {
        transition: 0s !important;
    }
}

.logo {
    padding: 10px;
    margin-top: 12px;

    img.logoImage{
        width: 175px;
        height: 100%;
    }
}